html,
.fill {
    height: calc(100vh - 100px);
    padding-right: 5px;
    padding-left: 5px;
}

body {
  padding-top: 56px; /* space for the top nav bar */
}

#forgeViewer {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
}

.viewer_container{
    position:relative;
}

.nav-input {
    padding: 15px;
}

.alert-boxes {
    display: flex;
    /*height: calc(100vh - 56px);*/
}

/* Messages for DB */
.alert-box {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 99;
  position: relative;
  flex: 1;
}

.updated {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    position: relative;
    width: 10vw;
    font-weight: bold;
}

.ready {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
    width: 10vw;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
    width: 10vw;
}

.gathering {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
    width: 10vw;
}